<div class="jumbotron text-center text-dark bg-light">
    <h1 class="display-3">Tu CURP</h1>
    <p class="lead"><strong>CURP resultante: </strong> {{calculado}}</p>

    <hr class="espacio" />

    <p>Un gusto ayudarte</p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Regresar a Inicio</a>
    </p>
</div>