<div class="container-fluid pb-4 text-dark text-center">
    <h1 class="display-1">¿Que es el CURP?</h1>
</div>

<div class="col-sm-12 text-center container-fluid">
    <img class="img-fluid rounded banner" src="/images/curp.jpg" alt="Registro Federal de Contribuyentes" />
</div>
<hr class="espacio" />
<div class="container-fluid p-5 mb-2 blockquote text-dark">
    <p class="text-justify">
        En México la Clave Única de Registro de Población (CURP) es un código
        alfanumérico único de identidad de 18 caracteres utilizado para identificar
        oficialmente tanto a residentes como a ciudadanos mexicanos de todo el país.
    </p>
</div>
<hr class="espacio" />

<div class="container-fluid pl-5">
    <div class="row">
        <div class="col">
            <p class="text-justify">
                El CURP se usa para tramitar otros documentos oficiles en México,
                también te lo van a pedir para inscribirte en una guardería o escuela,
                solicitar trabajo, tramitar el pasaporte, hacer las declaraciones de
                impuestos en México, para que te atiendan en centros de salud y más
                trámites.
            </p>
        </div>
        <div class="col">
            <strong>Podemos mencionar algunos lugares donde piden la CURP como un
                requisito:</strong>

            <ul class="list-group">
                <li>Para inscripciones en instituciones educativas</li>
                <li>Para obtener acta de nacimiento</li>
                <li>Para afiliación al seguro social</li>
                <li>Para obtener la cartilla militar</li>
                <li>Para tramitar la identificación oficial INE</li>
                <li>Entre otros tramites más…</li>
            </ul>
        </div>
    </div>
    <hr class="espacio" />
    <div class="container-fluid p-5 mb-2 blockquote text-dark">
        <div class="row">
            <div class="col-6">
                <p class="text-justify">
                    En un inicio, la CURP se tramitaba en las oficinas del Registro Civil,
                    del ISSSTE, del IMSS y de otros servicios del gobierno. Al tramitarla,
                    se proporcionaba una impresión con forma de cédula color verde y una
                    constancia por escrito; ahora puede ser en impresión en papel simple. Su
                    tamaño le permite llevarla incluso en una billetera. Y, para evitar que
                    se maltrate, puede plastificarse. En la cara frontal de la tarjeta,
                    aparecen los 10 caracteres de la CURP, los apellidos y los nombres,
                    además de la fecha de expedición de la cédula; también se incluyen el
                    número de folio del acta de nacimiento, que ampara la veracidad
                    contenida en la tarjeta, y el municipio de registro de nacimiento.
                    Actualmente se puede obtener en la página de internet del curp, y su
                    formato ha cambiado por una versión más alargada y más simple, que
                    incluye el nombre, la clave, la fecha de expedición, el número de folio
                    y el estado donde la persona se registró.
                </p>
            </div>
            <div class="col centrada">
                <img src="/images/pensando.png" alt="Pensando" width="300" />
            </div>
        </div>
    </div>
</div>