<form action="/api/persona/:personaCurp" method="DELETE">
    <div class="form-group">
        <label for="ApellidoPaterno">Apellido Paterno</label>
        <input type="text" class="form-control" value="" name="ApellidoPaterno">
    </div>
    <div class="form-group">
        <label for="ApellidoMaterno">Apellid Materno</label>
        <input type="text" class="form-control" value="" name="ApellidoMaterno">
    </div>
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" value="" name="Nombre">
    </div>
    <div class="form-group">
        <label for="FechaNacimiento">Fecha de Nacimiento</label>
        <input type="text" class="form-control" value="" name="FechaNacimiento">
    </div>
    <button type="submit" class="btn btn-primary">Borrar registro</button>

</form>