<h1 class="pl-5 text-dark">Introduce tus datos para generar tu CURP</h1>

<form class="text-dark col-md-8 p-md-5" method="POST">
    <!-- Capturar nombre-->
    <div class="form-group">
        <label for="name">Nombre(s)</label>
        <div>
            <input required id="name" name="name" type="text" placeholder="Tu nombre(s)" class="form-control"
                pattern="[A-Za-z ]{1,25}" />
        </div>
    </div>

    <div class="form-group">
        <label for="lname1">Apellido Paterno</label>
        <div>
            <input required id="lname1" type="text" name="lname1" placeholder="Apellido Paterno" class="form-control"
                pattern="[A-Za-z ]{1,20}" />
        </div>
    </div>

    <div class="form-group pb-4">
        <label for="lname2">Apellido Materno</label>
        <input required id="lname2" type="text" name="lname2" placeholder="Apellido Materno" class="form-control"
            pattern="[A-Za-z ]{1,20}" />
    </div>

    <div class="form-group">
        <label for="gender">Sexo</label>
        <select name="sexo" class="form-control" id="gender">
            <option value="H">Hombre</option>
            <option value="M">Mujer</option>
        </select>
    </div>

    <div class="form-group pt-2">
        <label for="dbirth"><strong>Fecha de nacimiento</strong></label>
        <input required type="date" id="dbirth" name="dateBrt" min="1920-01-01" max="2001-12-31" />
    </div>

    <div class="form-group pt-4">
        <label for="state">Lugar de nacimiento</label>
        <select name="estado" class="form-control" id="state">
            <option value="AS">Aguascalientes</option>
            <option value="BC">Baja California</option>
            <option value="BS">Baja California Sur</option>
            <option value="CC">Campeche</option>
            <option value="CS">Chiapas</option>
            <option value="CH">Chihuahua</option>
            <option value="DF">Ciudad de Mexico (Distrito Federal)</option>
            <option value="CL">Coahuila</option>
            <option value="CM">Colima</option>
            <option value="DG">Durango</option>
            <option value="MC">Mexico</option>
            <option value="GT">Guanajuato</option>
            <option value="GR">Guerrero</option>
            <option value="HG">Hidalgo</option>
            <option value="JC">Jalisco</option>
            <option value="MN">Michoacán</option>
            <option value="MS">Morelos</option>
            <option value="NT">Nayarit</option>
            <option value="NL">Nuevo León</option>
            <option value="OC">Oaxaca</option>
            <option value="PL">Puebla</option>
            <option value="QT">Querétaro</option>
            <option value="QR">Quintana Roo</option>
            <option value="SP">San Luis Potosí</option>
            <option value="SI">Sinaloa</option>
            <option value="SR">Sonora</option>
            <option value="TC">Tabasco</option>
            <option value="TS">Tamaulipas</option>
            <option value="TL">Tlaxcala</option>
            <option value="VZ">Veracruz</option>
            <option value="YN">Yucatán</option>
            <option value="ZS">Zacatecas</option>
            <option value="NE">Nacido en el extranjero</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">
        Calcula CURP
    </button>
</form> 